@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    width: auto;
    min-width: 180px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px brown;
    padding: 10px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    /* background-color: brown; */
}
option{
 font-size: x-large;
 color: rgb(3, 3, 3);
 font-family: 'Times New Roman', Times, serif;
}